@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

:root {
  --bgColor: #fdf9f9;
  --textColor: #454545;
  --colorOneStyle: #ff8617;
  --colorTwoStyle: #e25416;
  --colorThreeStyle: #047480;
  --colorFourStyle: #e2e1e1;
  --colorFiveStyle: #c5c3c3;
  --colorSixStyle: #00508a;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgColor);
  height: 100vh;
<<<<<<< HEAD
  width: 99vw;
=======
  width: 100vw;
>>>>>>> 5a24d8b4ee1107d506420b9f394f994c7bc7b837
  font-family: "Archivo", sans-serif;
  font-weight: lighter;
  font-size: 24px;
  color: var(--textColor);
  animation: fadeIn 1s;
  overflow-x: hidden;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
  user-select: none;
}
.headerStyle h2 {
  margin: 68px 0px 18px 0px;
  font-size: 4rem;
  margin: 68px 0px 18px 0px;
  font-size: 4rem;
  font-weight: 600;
  color: var(--colorThreeStyle);
  border-bottom: 2px solid var(--colorTwoStyle);
  border-bottom: 2px solid var(--colorTwoStyle);
}
.headerStyle h1 {
  margin: 58px 0px 9px 0px;
<<<<<<< HEAD
  padding: 1.1em;
  font-size: 1.2em;
  color: var(--colorFourStyle);
  width: 95%;
=======
  padding: 1.1em 0em 1.1em 0em;
  font-size: 1.2em;
  color: var(--colorFourStyle);
  width: 100%;
>>>>>>> 5a24d8b4ee1107d506420b9f394f994c7bc7b837
  background-color: var(--colorTwoStyle);
}
.headerStyle p {
  font-size: 1rem;
  width: 80%;
}
.container {
  width: 80%;
  width: 80%;
}

.container p,
.container h2 {
  text-align: left;
}

.container h2 {
  color: var(--colorThreeStyle);
  margin-top: 1.8em;
  font-weight: 600;
}
.container p {
  font-size: 16px;
  margin: 0.4em 0em 0.9em 0em;
}

.calc_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 52px 0px 52px 0px;
  margin: 52px 0px 52px 0px;
  width: 100%;
  background-color: var(--colorThreeStyle);
  background-color: var(--colorThreeStyle);
}

th,
td {
  padding: 1em;
  padding: 1em;
  text-align: left;
}

.calc_tabela {
  user-select: none;
.calc_tabela {
  user-select: none;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 18px;
  color: var(--colorSixStyle);
  width: 70%;
  min-height: 54vh;
  width: 70%;
  min-height: 54vh;
}

.table_title {
  color: var(--colorFourStyle);
  background-color: var(--colorTwoStyle);
  font-size: 24px;
}
.table_colorOne {
  background-color: var(--colorFiveStyle);
}
.table_colorTwo {
  background-color: var(--colorFourStyle);
}

.calc_imc {
  width: 35%;
<<<<<<< HEAD
=======
>>>>>>> 5a24d8b4ee1107d506420b9f394f994c7bc7b837
  background-color: var(--colorThreeStyle);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calc_imc h2 {
  font-size: 16px;
  color: var(--colorFourStyle);
  word-wrap: break-word;
  margin-bottom: 2.2em;
  padding: 1em;
}
.calc_input input {
  display: block;
  padding: 1rem;
  padding: 1rem;
  height: 3vh;
  width: 20vw;
  outline: none;
  background-color: var(--colorFourStyle);
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-weight: 600;
}

input::placeholder {
  font-weight: 800;
  opacity: 0.8;
  color: var(--textColor);
}

  width: 50%;
  background-color: var(--colorTwoStyle);
  color: var(--colorFourStyle);
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 18px;
  padding: 18px;
  height: 40px;
  cursor: pointer;
  margin: 30px 0px 20px 0px;
  width: 180px;
  transition: transform .2s;
}
.calc_imc button:hover{
  transform: scale(1.1);
}
.title_resultado,
.resultado_valor,
.resultado_grau {
  color: var(--colorFourStyle);
  font-weight: 600;
  padding: 8px;
}
.title_resultado,
.resultado_valor,
.resultado_grau {
  color: var(--colorFourStyle);
  font-weight: 600;
  padding: 8px;
}

.calc_resultado {
  width: 100%;
  background-color: var(--colorTwoStyle);
  display: none;
  text-align: center;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mensagem_positiva {
  background-color: var(--colorThreeStyle);
}

.mensagem_positiva h2,
.mensagem_positiva p {
  color: var(--colorFourStyle);
  padding: 8px;
}
.encontre_medico {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.encontre_medico a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--colorTwoStyle);
  color: var(--colorFourStyle);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 16px;
  cursor: pointer;
  transition: .5s;
}
.encontre_medico a:hover{
  background-color: var(--colorOneStyle);
  transition: 0.5s;
}

footer {
  text-align: center;
  margin-top: 3em;
<<<<<<< HEAD
  padding: 20px;
  background-color: var(--textColor);
  color: var(--colorFiveStyle);
=======
  background-color: var(--colorThreeStyle);
  color: var(--colorFourStyle);
>>>>>>> 5a24d8b4ee1107d506420b9f394f994c7bc7b837
  width: 100%;
  font-size: 18px;
}
footer p {
  padding: 10px;
}
footer i{
  padding: 10px;
  color: var(--colorTwoStyle);
  font-size: 22px;
  text-align: center;
  transition: transform .2s;
}
.social ul{
  display: grid;
  grid-template-columns: 50px 50px 50px;
  justify-content: center;
}
footer i:hover{
  animation: 2s;
  transform: scale(1.5);
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  header {
    width: 100%;
  }
  .headerStyle h2 {
    font-size: 3rem;
  }
  .container {
    width: 100%;
  }
  .text_container {
    padding: 15px;
  }
  .calc_section {
    display: flex;
    flex-direction: column;
    background-color: var(--bgColor);
  }

  .calc_tabela {
    width: 100vw;
    min-height: auto;
  }
  .calc_imc {
    width: 100%;
  }
  .calc_input input{
    width: 50vw;
  }

  .mensagem_positiva h2, .mensagem_positiva p {
    color: var(--colorFourStyle);
    padding: 12px;
}
.encontre_medico a {
  padding: 10px;
  width: 280px;
  font-size: 16px;
}

}
